#answerbox{
    margin-left: 70px;
    border-top: double;
    border-bottom: double;
    border-color: lightgrey;
    border-width: thin;
    word-wrap: break-word;
}

#votebutton{
    pointer-events: none;
}

#questionbox{
    margin-left: 70px;
    border-top: double;
    border-bottom: double;
    border-color: lightgrey;
    border-width: thin;
    background-color: #f8f8f8;
}

#answerForm{
    margin-left: 70px;
}

textarea {
    position: relative;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#post_answer{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#post_answer:hover{
    background-color: orange;
}

.glyphicon{
    color: #008CBA;
}

.glyphicon-arrow-up:active {
    transform: translateY(-4px);
}

.glyphicon-arrow-down:active {
  transform: translateY(4px);
}

.glyphicon:hover{
    cursor: pointer;
}
