{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'question_app/css/base.css' %}">
        <meta charset="utf-8">
        <title>Question Box</title>
        <link rel='icon' href='{% static "question_app/dump.png" type='image/png'/>
    </head>
    <body>
        <div class="modal fade bd-example-modal-sm" id = "modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <h3>Add Question</h3>
                    <input id="username_field" type='hidden' name='userId' value='{{ user.id }}'>
                    <form>
                      Title:<br>
                      <input type="text" id="title">
                      <br>
                      Text:<br>
                      <input type="text" id="text">
                      <br>
                      tag:
                      <br>
                      <select name="drop_down" id="dropDownTags">
                        <option value="None" selected="Selected">Select tag</option>
                      </select>
                      <br>
                      <button id="post_question">Post</button>
                    </form>

        </div>
        </div>
        </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a href="/question_app/main" ><img src="http://icons.iconarchive.com/icons/iconexpo/speech-balloon-orange/256/speech-balloon-orange-q-icon.png" style="width:10%"></a>
                </div>
                <div class="collapse navbar-collapse" id = 'navbardropdown'>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id='navbutton' href="{% url 'profile' %}">{{user.username}}</a></li>
                        <li><a id='navbutton' data-toggle="modal" data-target=".bd-example-modal-sm">Ask A Question</a></li>
                        <li><a id='navbutton' href="/question_app/register">Create User</a></li>
                            {% if user.is_authenticated %}
                        <li><a id='navbutton' href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                        <li><a id='navbutton' href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        <li>
                            <form id='searchForm'>
                                <input id="search" type="text" name="search" placeholder="Search..">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <input id="tagId" type='hidden'/>
        {%block content%}
        {%endblock%}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- complete JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'question_app/js/question_app.js' %}"></script>
  </body>
</html>
