{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'question_app/css/main.css' %}">
        <title>Main Page</title>
    </head>
    <body>
        <main>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
             {{#each this}}
             <article class="post-container">
             <header id='main'>
                 <div id='questionbox' class="container">
                 <h4>{{{displayLink this}}}</h4>
                 <h5>{{this.text}}</h5>
                 <span id='votebutton' class="glyphicon glyphicon-arrow-up"></span>
                 <span id='votebutton' class="glyphicon glyphicon-arrow-down"></span>
                 </div>
                 <br>
             </header>
             </article>
             {{/each}}
        </script>
        {% endverbatim %}
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'question_app/js/main.js' %}"></script>
    </body>
    {% endblock %}
</html>
