{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'question_app/css/main.css' %}">
        <title>Main Page</title>
    </head>
    <body>
        <main>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
             {{#each this}}
             <article class="post-container">
                 <div id='questionbox' class="container">
                 <h4>{{{displayLink this}}}</h4>
                 <h5>{{this.text}}</h5>
                 <div id='thisTagName'><span>&nbsp;{{this.tags.0.name}}&nbsp;</span></div>
                 <!-- {{#each this.tags as |tag|}}
                 <div id='thisTagName'><span>&nbsp;{{tag.name}}&nbsp;</span></div>
                 {{/each}} -->
                 <div id={{{this.id}}}>Answers: {{this.answer.length}}</div>
                 <div id='poster' align="right">posted: {{{ prettifyDate this.question_created }}} user: {{{ this.poster }}}</div>
                 </div>
                 <br>
             </header>
             </article>
             {{/each}}
        </script>
        {% endverbatim %}
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'question_app/js/main.js' %}"></script>
    </body>
    {% endblock %}
</html>
