{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'question_app/css/question.css' %}">
        <title>Question</title>
        {% block content %}
        <link rel="stylesheet" href="{% static 'question_app/css/question.css' %}">
    </head>
            <article class="post-container">
               <div class="row">
               <div class="col-md-12">
               <div id="questDetail">
               </div>
               </div>
               </div>
           </article>
           <article class="post-container">
               <div class="row">
               <div class="col-md-12">
               <div id="answerDetail"></div>
               </div>
               </div>
               </div>
           </article>

       <script id="post-template" type="text/x-handlebars-template">
           <article class="post-container">
            <div id='questionbox' class="container">
               {% verbatim %}
                   <h3 id="questTitle">{{title}}</h3>
                   <p id="questText">{{text}}</p>
               {% endverbatim %}
           </div>
           <br>
           </article>
       </script>
       <script id="post-template-two" type="text/x-handlebars-template">
           <article class="post-container-two">
               {% verbatim %}
                   {{#each this}}
                   <article class="post-container">
                   <div id='answerbox' class="container">
                   <p id="answerTitle">{{this.this.text}}<p>
                   <p>Score: {{this.this.score}}</p>
                   <span id={{{this.id}}} onClick=scorePatchUp() class="glyphicon glyphicon-arrow-up"></span>
                   <span id={{{this.id}}} onClick=scorePatchDown() class="glyphicon glyphicon-arrow-down"></span>
                   </div>
                   <br>
                   {{/each}}
               {% endverbatim %}
           </article>
       </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'question_app/js/question.js' %}"></script>
    </body>
        {% endblock %}

</html>
