{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Question</title>
        {% block content %}
        <link rel="stylesheet" href="{% static 'question_app/css/question.css' %}">
    </head>
    <body onload="getAnswers()">
        Current user: {{ user.username }} <br>
        Posted: {{ question.question_created|timesince }} ago
        <br>
        <input id="userId_field" type='hidden' name='userId' value='{{ user.id }}'>
        <input id="questionId_field" type='hidden' name='questionIdId' value='{{ question.id }}'>
        <br>
         <h2>{{question.title}}</h2>
         <h3>{{question.text}}</h3>
        <div id="questionField"></div>

        <br>
        <br>
        <div id="answer"></div>
        <br>
        <br>
        <br>

        <form>
          <p>Your answer</p>
          <textarea type="text" id="answerText"> </textarea>
          <br>
          <button id="post_answer">Post Your Answer</button>
        </form>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'question_app/js/question_app.js' %}"></script>
    </body>
    {% endblock %}
</html>
